/* .anchor{
    color: black;
    width: 100px;
    font-size: 50px;
}
.anchor:visited{
    color: green;
}
.anchor:hover{
    color: red;
}
.anchor:active{
    color: greenyellow;
}
ul.alist{
    list-style-image: url("sky.jpg ");
}
ul.blist{
    list-style-type:upper-roman ;
    list-style-position: inside;
}
ul.clist{
    list-style-type: upper-alpha;
}
#customers{
/* border-collapse: collapse; */
/* width: 100%;
text-align: center;
vertical-align: top; */
/* } */
/* tr,td,th{
    border: 2px solid black; */
/* }
tr:hover{
    background-color: burlywood;
}
/* #customers tr:nth-child(even){background-color: #f2f2f2;} */
/* #customers tr:nth-child(6){background-color: gray;}
tr{
    height: 50px;
    vertical-align: top;
}
.tab{
    overflow-x: auto;
} */ 