
.main{
    width: 300px;
    height: 100px;
    border: solid;
    /* float: left; */
    /* display: flex;
    justify-content: space-between; */
}
.main-1{
    width: 30px;
    height: 10px;
    border: solid;
    float: left;
}
.main-2{
    width: 30px;
    height: 10px;
    border: solid;
    float: left;
}
.main-3{
    width: 30px;
    height: 10px;
    border: solid;
    float: right;
    clear: left;
}