/* 
body{
    background-image: url("sky.jpg");
    background-repeat: no-repeat; 
    background-position: center; 
    background-repeat:repeat-x ;
     background-repeat:repeat-y ;
    background-position: right top;
    background-attachment: fixed;
    background-attachment: scroll;
     background: pink url("sky.jpg") no-repeat right left ;
     background-size: cover;
}  */
.cont{ 
    background-color: yellow;
    max-width: 1000px;
    height: 100px;
    margin: auto ;
}
.cont1{ 
    background-color: yellow;
    width: 1000px;
    height: 100px;
    margin: auto ;
}
.in-cont{
    background-color: blue;
    width: 100px;
    height: 50px;
    margin: auto ;
}
p.center{
    /* background-color: rgb(12, 201, 138); */
    color: rgb(234, 234, 238);
    /* border: 1px outset black; */
/* border-style:  inset; */
/* border-width: thick; */
/* border-width: 5px 10px; */
/* border-color: black gold greenyellow yellow;
border-style: dashed dotted solid double; */
/* margin: 50px; */
/* margin-left:160px ; */

}
.mcheck{
    background-color: rgb(15, 12, 13);
    width: 100px;
    height: 50px;
    margin-left:40px  ;
    border: 2px solid black;
    outline: 3px solid black;
    outline-offset: 6px;
    /* box-sizing: border-box; */
    /* padding: 40px; */
}
.in{
    background-color: rgb(189, 73, 111);
    width: 50px;
    height: 25px;
    margin: inherit ;
    padding: 40px;
    box-sizing: border-box;
}
.in-cont2{ 
    background-color: rgb(20, 20, 13);
    width: 1000px;
    height: 400px;
    /* margin: auto ; */
    /* text-align: left; */
    display: flex;
    justify-content: center;
    align-items: center;

}